[defaults]
inventory = inventories/production/hosts.yml
roles_path = roles
collections_path = ../.ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
local_tmp = /tmp/.ansible-local
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=6
pipelining = True
